<!DOCTYPE html>
<html>
  <head>
    <title><%= name %> : on toast</title>
    <link rel="stylesheet" href="../../style/main.css" type="text/css">
  </head>
  <body class="perma">
    <h1><img class="gravatar" src="http://www.gravatar.com/avatar/<%= gravatar %>.jpg?s=40&d=identicon"/> <%= name %></h1>
    <h2> is <a href="../../index.html">Toasting</a> on <a href="../../channel.html#<%= channel %>"><%= channel %>...</a></h2>
    <div id="sidebar">
    
    <p>Go to the index <a href="index.html">to make new channels or browse to others.</a> <a href="http://github.com/jchris/toast">Download the Toast source code at Github.</a></p>
    </div>
    <div id="chat">
    <ul id="messages">
    <li>
      <span class="say"><strong><%= name %></strong>: <%= body %>
      </span><br class="clear"/>
    </li>
    </ul>
    </div>
  </body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js?1.2.6"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="../../vendor/couchapp/jquery.couchapp.js"></script>
  <script type="text/javascript" charset="utf-8">
  $.couch.app(function(app) {
      var docid = document.location.pathname.split('/').pop();

    });
  </script>
  <script src="../../showdown.js"></script>
</html>
