body {
  font:1em Helvetica, sans-serif;
  margin:0;
  padding:4px;
}

h1 {
  margin:0;
}

h2 {
  color:#222;
}

h3 {
  margin:4px;
  color:#222;
  font-style: italic;
}

#header {
  padding:4px;
}

#account {
  float:right;
}

#content {
  clear:both;
}

#activity {
  width:65%;
}

#sidebar {
  float:right;
  width:30%;  
}

ul {
  list-style: none;
  margin:0;
  padding:4px;
}

.clear {
  clear:left;
}

#chat li, #profile {
  padding:4px;
  padding-bottom:0;
  margin:6px;
  margin-bottom:0;
  border: 1px solid #999;
  background-color:#ddd;
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
}

#chat li a.delete {
  color:#ddd;
  -webkit-transition-property:color;
  -webkit-transition-duration:0.25s;
  -moz-transition-property:color;
  -moz-transition-duration:0.25s;
}

#chat li:hover a.delete {
  color:#00b;
}

#chat .meta {
  font-size: 0.78em;
  color:#333;
  padding:4px;
}

#chat .body {
  padding:2px;
}

form {
  background:#ddd;
  padding:4px;
  margin:6px;
}

input[name=message] {
  width:88%;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}
