body {
  font:1em Helvetica, sans-serif;
  margin:0;
  padding:4px;
}

h1 {
  margin:0;
}

h2 {
  color:#222;
}

#header {
  padding:4px;
}

#account {
  float:right;
}

#content {
  clear:both;
}

#activity {
  width:65%;
}

#browse {
  float:right;
  width:30%;
}

#tasks ul {
  list-style: none;
  margin:0;
  padding:0;
}

.clear {
  clear:left;
}

#tasks li, #profile {
  padding:4px;
  padding-bottom:0;
  margin:6px;
  margin-bottom:0;
  border: 1px solid #fff;
  background-color:#fff;
  -webkit-border-radius:14px;
  -webkit-transition-property:background-color;
  -webkit-transition-duration:0.5s;
  -moz-border-radius:14px;
  -moz-transition-property:background-color;
  -moz-transition-duration:0.5s;
}

div#profile {
  border: 1px solid #999;
  background-color:#ddd;  
}

#tasks li:hover {
  border: 1px solid #999;
  background-color:#aaa;
}

#tasks li.done, #tasks li.done:hover {
  background-color:#cfb;
}

#tasks li .body {
  padding:8px;
  padding-bottom:0;
}

#tasks li .react a {
  color:#fff;
  padding:0 4px;
  font-size:0.78em;
}

#tasks li div.replies li {
  font-size:0.84em;
  background:none;
  border:1px solid #fff;
}

#tasks li div.replies {
  margin:2px;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

