/* add styles here */


body {
  font-family:Optima, "Palatino Linotype", Garamond, Georgia, serif;
}

#chat {
  width:65%;
}

#sidebar {
  float:right;
  width:30%;
}

ul#messages {
  list-style: none;
}

.clear {
  clear:left;
}

ul#messages li {
  padding:4px;
}

ul#messages img.gravatar {
  padding-right:4px;
  float:left;
}

.say {
/*  float:left;*/
}

form {
  padding:10px;
  background:#ddd;
}